.DS_Store
*.swp
*~
.idea/
.vscode/

# Obsidian
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/cache/
.obsidian/plugins/**/main.js
.obsidian/plugins/**/manifest.json
.obsidian/plugins/**/styles.css
